@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');  

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}

.Bodoni {
  font-family: "Bodoni Moda SC", sans-serif;
}

.Bodoni{
  font-family: "Bodoni Moda SC", sans-serif;
}

.Montserrat{
    font-family: "Montserrat", sans-serif;
}